# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3

# Django stuff:
*.log
*.pot
local_settings.py
db.sqlite3
media/

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/

