{% extends 'base.html' %}

{% block content %}
<h2>Staff</h2>

<a href="{% url 'staff_add' %}">Add Staff</a>

<table border="1" cellpadding="8">
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Designation</th>
        <th>Salary</th>
        <th>Action</th>
    </tr>

    {% for s in staffs %}
    <tr>
        <td>{{ s.full_name }}</td>
        <td>{{ s.email }}</td>
        <td>{{ s.designation }}</td>
        <td>{{ s.salary }}</td>
        <td>
            <a href="{% url 'staff_edit' s.id %}">Edit</a> |
            <a href="{% url 'staff_delete' s.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">No staff available</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
